port: 4222

http_port: 8222

cluster {
  listen: 0.0.0.0:6222
  routes: [
    "nats-route://0.0.0.0:6221",
    "nats-route://0.0.0.0:6223",
  ]
}

streaming {
  id: test 
  store: file 
  dir: storeb
  cluster {
    node_id: "b" 
    peers: ["a", "c"] 
  }
  store_limits {
    max_channels: 0 
    max_subs: 0 
    max_msgs: 0 
    max_bytes: 0 
    max_age: "24h" 
    max_inactivity: "24h" 
  }
}

authorization {
  user: "jim"
  pass: "password"
}

# pid file: store pid
pid_file: "nats_streaming2.pid" 

# logging options
debug:   false 
trace:   false 
logtime: true 


