port: 4223

http_port: 8223

cluster {
  listen: 0.0.0.0:6223
  routes: [
    "nats-route://0.0.0.0:6221",
    "nats-route://0.0.0.0:6222",
  ]
}

streaming {
  id: test 
  store: file 
  dir: storec
  cluster {
    node_id: "c" 
    peers: ["a", "b"] 
  }
  store_limits {
    max_channels: 0 
    max_subs: 0 
    max_msgs: 0 
    max_bytes: 0 
    max_age: "24h" 
    max_inactivity: "24h" 
  }
}

authorization {
  user: "jim"
  pass: "password"
}

# pid file: store pid
pid_file: "nats_streaming3.pid" 

# logging options
debug:   false 
trace:   false 
logtime: true 


