[client]
port                            = 3306
socket                          = /var/lib/mysql/mysql.sock

[mysql]
prompt                          = "\u@\h:\p:[\d]> "

[mysqld]
user                            = mysql
port                            = 3306
server_id                       = mysql_server_id
socket                          = /var/lib/mysql/mysql.sock
log_error                       = /var/lib/mysql/mysql-host.err
datadir                         = /data/db/mysql/data
tmpdir                          = /data/db/mysql/tmpdir

# Master binlog
log_bin                         = /data/logs/mysql/mysql-bin/mysql-host-bin
log_bin_index                   = /data/logs/mysql/mysql-bin/mysql-host-bin.index
max_binlog_size                 = 1024M
binlog_cache_size               = 2M
binlog_format                   = ROW
binlog_row_image                = full
expire_logs_days                = 7
binlog_rows_query_log_events    = ON

# Slave relay log
relay_log                       = /data/logs/mysql/relaylog/mysql-host-relay-bin
relay_log_index                 = /data/logs/mysql/relaylog/mysql-host-relay-bin.index

# GTID & multi thread
gtid_mode                       = ON
enforce_gtid_consistency        = ON
master_info_repository          = table
relay_log_info_repository       = table
#slave_parallel_type             = LOGICAL_CLOCK
#slave_parallel_workers          = 4

# for slave crash safe
slave_net_timeout               = 60
relay_log_recovery              = 1
relay_log_purge                 = 1

# Slave binlog
log_slave_updates               = 1

# sync_binlog (M:1,S:0)
# for master node , use '1'
# while slave node '0'
sync_binlog                     = 1

# Slow Log
slow_query_log
slow_query_log_file             = /data/logs/mysql/mysql-host-slow.log
slow_launch_time                = 1
long_query_time                 = 1
log_slow_admin_statements       = OFF
log_slow_slave_statements       = OFF
log_queries_not_using_indexes   = OFF

# Read Only (M:OFF,S:ON)
# for master node, use 'OFF'
# while slave node 'ON'
read_only                       = OFF

# event scheduler
event_scheduler                 = 1

# connections Setting
max_connections                 = 2000
max_user_connections            = 1500
max_execution_time              = 30000
back_log                        = 1000

# skip option
local_infile                    = 0
symbolic_links                  = 0
skip_name_resolve
skip_external_locking
skip_character_set_client_handshake

# 編碼
character_set_server            = utf8mb4
collation_server                = utf8mb4_general_ci

# 由程式 +8，DB 預設 +0
default_time_zone               = '+0:00'

# Others
transaction_isolation           = REPEATABLE-READ
wait_timeout                    = 14400
interactive_timeout             = 14400
log_timestamps                  = SYSTEM
explicit_defaults_for_timestamp = 1
general_log                     = 0
max_allowed_packet              = 64M
table_definition_cache          = 1424
table_open_cache                = 2048
table_open_cache_instances      = 16
query_cache_type                = OFF
query_cache_size                = 0
max_heap_table_size             = 128M
tmp_table_size                  = 128M
thread_cache_size               = 2
open_files_limit                = 65535

# Innodb Setting
innodb_data_home_dir            = /data/db/mysql/data
innodb_data_file_path           = ibdata1:12M:autoextend
innodb_temp_data_file_path      = ibtmp1:12M:autoextend
innodb_log_files_in_group       = 2
innodb_log_buffer_size          = 16M
innodb_log_file_size            = 512M

# innodb_flush_log_at_trx_commit (M:1,S:0)
# for master node, use 1
# while slave use 0
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method             = O_DIRECT
innodb_buffer_pool_instances    = 8

# based on total memory size: expr `free -g -t | grep Total | awk '{print $2}'` / 2
# support unit, 128M, 1024M, 1G
innodb_buffer_pool_size         = 2G
innodb_file_per_table           = 1
innodb_doublewrite              = 0
innodb_concurrency_tickets      = 5000
innodb_print_all_deadlocks      = OFF
innodb_io_capacity              = 10000
innodb_io_capacity_max          = 15000
innodb_lock_wait_timeout        = 50
innodb_lru_scan_depth           = 1024
innodb_max_dirty_pages_pct      = 75
innodb_old_blocks_pct           = 37
innodb_old_blocks_time          = 1000
innodb_purge_threads            = 4

# based on total cpu num: `lscpu | head -n 4 | grep CPU\(s\) | cut -f2 -d:`
innodb_read_io_threads          = 1
innodb_write_io_threads         = 1

innodb_thread_concurrency       = 0
innodb_support_xa               = 1
innodb_numa_interleave          = 1
innodb_max_undo_log_size        = 1G
innodb_undo_tablespaces         = 3
innodb_undo_log_truncate        = ON

# for SSD (SSD:0，HDD:1)
innodb_flush_neighbors          = 0

[mysqldump]
quick
max_allowed_packet              = 16M

[xtrabackup]
open_files_limit                = 65535